<h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p>
<%= form_tag("/search", method: "get") do %>
    <%= label_tag(:source, "来源:") %>
    <%= text_field_tag(:source) %>
    <%= label_tag(:sourceid, "序号:") %>
    <%= text_field_tag(:sourceid) %>

    <%= submit_tag("submit") %>
<% end %>